<section class="video-reviews-{{ section.id }}">
  <div class="video-reviews-wrapper page-width">
    <div class="video-reviews-top-info">
      <div class="reviews-heading">
        <h2>{{ section.settings.heading }}</h2>
      </div>
      <div class="reviews-social-icons">
        <div class="social-icons-row">
          <a href="{{ section.settings.facebook }}"><img src="{{ section.settings.facebook-icon | img_url: 'master' }}"></a>
          <a href="{{ section.settings.insta }}"><img src="{{ section.settings.insta-icon | img_url: 'master' }}"></a>
          <a href="{{ section.settings.tiktok }}"><img src="{{ section.settings.tiktok-icon | img_url: 'master' }}"></a>
          <a href="{{ section.settings.youtube }}"><img src="{{ section.settings.youtube-icon | img_url: 'master' }}"></a>
        </div>
      </div>
    </div>
    <div class="video-reviews-row rev-videos-{{ section.id }}">
      {% for block in section.blocks %}
        <div class="video-review-col">
          {% if block.settings.video != blank %}
            <video class="cust_video cust_video_auto" width="100%" height="auto" autoplay="false" loop="true" controls="true" playsinline="" muted="true" data-src-all="image" 
              src="{{ block.settings.video }}">
             </video>
          {% else %}
            <img src="{{ block.settings.img | img_url: 'master' }}">
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<style>
  .video-reviews-{{ section.id }}{ 
    padding-top: {{ section.settings.padding-top }}px;
    padding-bottom: {{ section.settings.padding-bottom }}px;
    width: 100%;
    background-color: {{ section.settings.bg }};
  }

  .video-reviews-top-info{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 40px;
  }
  .reviews-heading{
    flex: 50%;
    max-width: 50%;
    text-align: left;
  }
  .reviews-heading h2{
   color: #fff;
font-size: 28px;
font-weight: 600;
line-height: 45.67px;
text-align: left;
margin: 0;
    padding: 0;
  }
  .reviews-social-icons{
    flex: 50%;
    max-width: 50%;
    align-self: flex-end;
    text-align: right;
  }
  .social-icons-row{
    display: flex;
    align-items: center;
    column-gap: 15px;
    justify-content: flex-end;
  }
  .social-icons-row a{
    max-width: 32px;
  }
  .social-icons-row a img{
    width: 100%;
    height: auto;
  }
  .video-reviews-row{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .video-reviews-row .video-review-col{
    flex: 31.097%;
    max-width: 31.097%;
  }
  .video-review-col img, .video-review-col video{
    width: 100%;
    height: auto;
  }
  @media(max-width: 767px){
    .video-reviews-{{ section.id }}{
      padding-top: {{ section.settings.mob-padding-top }}px;
      padding-bottom: {{ section.settings.mob-padding-bottom }}px;
    }
    .video-reviews-top-info{
      padding-bottom: 20px;
    }
    .reviews-heading{
    flex: 100%;
    max-width: 100%;
    text-align: left;
      padding-bottom: 15px;
  }
   .reviews-heading h2{
font-size: 24px;
font-weight: 600;
line-height: 36px;
text-align: left;

    }
    .reviews-social-icons{
      flex: 100%;
    max-width: 100%;
    text-align: left;
      align-self: flex-start;
    }
    .social-icons-row{
      justify-content: flex-start;
    }
    .social-icons-row a{
    max-width: 26px;
  }
    .video-reviews-row .video-review-col{
      margin-right: 20px;
    }
   .video-reviews-row .slick-prev, .video-reviews-row .slick-next{
      top: auto;
      bottom: -50px;
     width: 21px;
     height: 9px;
    }
   .video-reviews-row .slick-prev{
      left: auto;
      right: 13%;
    }
    .video-reviews-row .slick-next{
      right: 5%;
    }
  }
</style>

<script>
  $(document).ready(function(){
    function initSlick() {
      var windowWidth = $(window).width();

      // Check if screen width is desktop size or larger
      if (windowWidth >= 767) {
        // If Slick is initialized, unslick it for desktop
        if ($('.rev-videos-{{ section.id }}').hasClass('slick-initialized')) {
          $('.rev-videos-{{ section.id }}').slick('unslick');
          
          // Reset styles Slick may have applied
          $('.rev-videos-{{ section.id }}').css({
            'display': '',
            'width': '',
            'transform': '',
          });
          $('.rev-videos-{{ section.id }} .slick-track').css({
            'width': '',
            'transform': '',
          });
          $('.rev-videos-{{ section.id }} .slick-slide').css({
            'width': '',
          });
        }
      } else {
        // Initialize Slick if not already initialized for mobile
        if (!$('.rev-videos-{{ section.id }}').hasClass('slick-initialized')) {
          $('.rev-videos-{{ section.id }}').slick({
            dots: false,
            infinite: false,
            prevArrow: '<img alt="Previous Arrow" src="https://cdn.shopify.com/s/files/1/0754/5903/5403/files/back-Arrow.png?v=1723951133" class="slick-prev">',
            nextArrow: '<img alt="Next Arrow" src="https://cdn.shopify.com/s/files/1/0754/5903/5403/files/front-Arrow.png?v=1723951131" class="slick-next">',
            cssEase: 'linear',
            speed: 300,
            slidesToShow: 1.1,
            slidesToScroll: 1,
            responsive: [
              {
                breakpoint: 767,
                settings: {
                  slidesToShow: 1.1,
                  slidesToScroll: 1
                }
              },
              {
                breakpoint: 480,
                settings: {
                  slidesToShow: 1.1,
                  slidesToScroll: 1
                }
              }
            ]
          });
        }
      }
    }

    initSlick(); // Initialize on page load

    // Re-initialize on resize
    $(window).on('resize', function() {
      initSlick();
    });
  });
</script>


{% schema %}
  {
    "name": "Video Reviews",
    "max_blocks": 3,
    "settings": [
      {
         "type": "range",
         "id": "padding-top",
         "label": "Section Top Padding",
         "default": 50,
         "min": 0,
         "max": 100,
         "step": 5,
         "unit": "px"
       },
       {
         "type": "range",
         "id": "padding-bottom",
         "label": "Section Bottom Padding",
         "default": 50,
         "min": 0,
         "max": 100,
         "step": 5,
         "unit": "px"
       },
       {
         "type": "range",
         "id": "mob-padding-top",
         "label": "Section Top Padding",
         "default": 40,
         "min": 0,
         "max": 100,
         "step": 5,
         "unit": "px"
       },
       {
         "type": "range",
         "id": "mob-padding-bottom",
         "label": "Section Bottom Padding",
         "default": 40,
         "min": 0,
         "max": 100,
         "step": 5,
         "unit": "px"
       },
       {
         "type": "color",
         "id": "bg",
         "label": "Section BG Color",
         "default": "#fff"
       },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "See what our clients have to say about us"
      },
      {
        "type": "header",
        "content": "Social Icons"
      },
      {
        "type": "url",
        "id": "facebook",
        "label": "Facebook Link"
      },
      {
        "type": "image_picker",
        "id": "facebook-icon",
        "label": "Facebook Icon"
      },
      {
        "type": "url",
        "id": "insta",
        "label": "Insta Link"
      },
      {
        "type": "image_picker",
        "id": "insta-icon",
        "label": "Instagram Icon"
      },
      {
        "type": "url",
        "id": "tiktok",
        "label": "Tiktok Link"
      },
      {
        "type": "image_picker",
        "id": "tiktok-icon",
        "label": "Tiktok Icon"
      },
      {
        "type": "url",
        "id": "youtube",
        "label": "Youtube Link"
      },
      {
        "type": "image_picker",
        "id": "youtube-icon",
        "label": "Youtube Icon"
      }
    ],
    "blocks" : [
  	  {
   		"type" : "video",
   		"name" : "Video",
   		"settings" : [
          {
            "type": "url",
            "id": "video",
            "label": "Upload MP4 Video URL"
          },
          {
            "type": "image_picker",
            "id": "img",
            "label": "Review Image"
          }
		]
	}
],
  "presets": [
    {
      "name": "Video Reviews"
    }
  ]
}
{% endschema %}